*{margin: 22;
padding: 22;}
body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
header {background-color: rgb(247, 3, 3);
color: black;
display: flex;
justify-content: space-around;
padding: 22px 0;}
.cabecalho-imagem{width: 22%;}
h1{
    display: inline-block;
    margin: 0 32px;
    padding: 90px 0;
font-size: 37px;}

li{}

.escola-imagem{
    width: 111%;
}
    .escola{background-image: linear-gradient(red,white);
    display: flex;
    justify-content: flex-start;
align-items: center;
padding: 22px 0;}

    .aluno-um{
        width: 22%;   
}
.estudante-titulo
{
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
}
.estudante-icone
{width: 60px;}
.estudante-div {
    text-align: center;
}
